#formrow{
    padding: 0% 35% 0% 35%;
}
#fooder{
    padding-top: 5%;
}
#contact{
    padding-left: 5%;
    margin-bottom: 5%;
    display: block;
}
li{
    margin-bottom: 1%;
}
#fooder h2{
    margin-bottom: 10%;
}

#emailnewsleter{
    width: 80%;
}
#newsletterbutton{
    margin-top: 10%;
}
#newsletter{
    padding-right: 5%;
}
div{
    border: 1pt solid white;
}
legend{
    margin-top: 5%;
    font-size: 12pt;
}
